.copyright-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #375465;
}