/* Font connecting */

/* =============================================================================================================== */

/* Gilroy-medium */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("./font-face/Gilroy-Medium.woff2") format("woff2"),
    url("./font-face/Gilroy-Medium.woff") format("woff"),
    url("./font-face/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Gilroy-bold */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("./font-face/Gilroy-Bold.woff2") format("woff2"),
    url("./font-face/Gilroy-Bold.woff") format("woff"),
    url("./font-face/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Gilroy-Extrabold */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("./font-face/Gilroy-Extrabold.woff2") format("woff2"),
    url("./font-face/Gilroy-Extrabold.woff") format("woff"),
    url("./font-face/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Sofia+Pro-Regular */

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaProRegular.eot");
  src: local("Sofia Pro Regular"), local("SofiaProRegular"),
    url("./font-face/SofiaProRegular.eot?#iefix") format("embedded-opentype"),
    url("./font-face/SofiaProRegular.woff2") format("woff2"),
    url("./font-face/SofiaProRegular.woff") format("woff"),
    url("./font-face/SofiaProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Sofia+Pro-Medium */

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaProMedium.eot");
  src: local("Sofia Pro Medium"), local("SofiaProMedium"),
    url("./font-face/SofiaProMedium.eot?#iefix") format("embedded-opentype"),
    url("./font-face/SofiaProMedium.woff2") format("woff2"),
    url("./font-face/SofiaProMedium.woff") format("woff"),
    url("./font-face/SofiaProMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Gilroy-semibold */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("./font-face/Gilroy-Semibold.woff2") format("woff2"),
    url("./font-face/Gilroy-Semibold.woff") format("woff"),
    url("./font-face/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Gilroy-Regular */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./font-face/Gilroy-Regular.woff2") format("woff2"),
    url("./font-face/Gilroy-Regular.woff") format("woff"),
    url("./font-face/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Popping-SemiBold */

@font-face {
  font-family: "Poppins";
  src: local("Poppins Semi Bold"), local("Poppins-Semi-Bold"),
    url("./font-face/Poppins-SemiBold.woff2") format("woff2"),
    url("./font-face/Poppins-SemiBold.woff") format("woff"),
    url("./font-face/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Popping-regular */

@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("./font-face/Poppins-Regular.woff2") format("woff2"),
    url("./font-face/Poppins-Regular.woff") format("woff"),
    url("./font-face/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ================================================================================================================= */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  background: #fff9f2;
}

.logo {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #233506;
}

.logo span {
  color: #ff800b;
}

.nav__text {
  font-family: Gilroy;
  margin-right: 46px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #233506;
}

.nav__textC {
  margin-right: 187px;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #233506;
}

.nav__text__Button {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #ff800b;
  background: #ffffff;
  border-radius: 22.5px;
  padding-top: 21px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 20px;
}

.top {
  padding-top: 62px;
}

.box__icon {
  margin-left: 13px;
}

.uil-shopping-cart,
.uil-search {
  background: #ffffff;
  border-radius: 15px;
  color: #ff800b;
  padding: 15px;
}

.left {
  background-color: #fff9f2;
}

.right {
  margin-top: 47px;
}

.big__text {
  margin-top: 259px;
  width: 591px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 84px;
  line-height: 120%;
  color: #233506;
}

.big__text span {
  color: #fdb827;
}

.big__description {
  margin: 60px 0px 50px;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: rgba(35, 53, 6, 0.65);
}

.order {
  background: #fdb827;
  border-radius: 33px;
  padding: 29px 41px 28px 40px;
  border: none;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.order span {
  display: flex;
  align-items: center;
}

.order span i {
  font-size: 30px;
}

/* ============================================================================================================= */

section {
  margin-top: 150px;
}

section .big__text__section {
  font-family: Gilroy;
  color: #233506;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  display: flex;
  align-items: center;
}

.all--cards {
  display: flex;
  margin-top: 87px;
}

.text__card {
  margin-top: 37px;
}

.text__card .text_card {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #02283f;
}

.text__card .description_card {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #02283f;
}

.g {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  color: rgba(2, 40, 63, 0.81);
}

.big__buy {
  margin-top: 37px;
}

.big__buy__button {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #02283f;
  background: #fdb827;
  border-radius: 8px;
  padding: 15px 37px;
  border: none;
}

.big__shop {
  width: 270px;
  margin-right: 28px;
}

.all--cards--second {
  margin-top: 43px;
  margin-bottom: 143px;
}

/* =========================================== how it work =========================================== */

.big__how {
  background: #fff9f2;
}

.how_it_work {
  display: flex;
  justify-content: space-between;
  padding-top: 57px;
}

.how_it_work .right__info .big__text__howItWork .big__text__how {
  margin-top: 67px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  display: flex;
  align-items: center;
  color: #02283f;
}

.how_it_work .right__info .big__description .big__text__description__how {
  font-family: Sofia Pro;
  font-style: normal;
  width: 488px;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: rgba(42, 53, 71, 0.75);
}

.how_it_work .right__info .Info__Product .info__text .info__text__hone {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #02283f;
}

.how_it_work .right__info .Info__Product .info__text .info__text__description {
  font-family: Sofia Pro;
  width: 389px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: rgba(2, 40, 63, 0.67);
}

.uil-shopping-carts {
  color: #ffffff;
}

.left__img__work {
  display: flex;
  align-items: center;
}

.right__img__work {
  display: flex;
  align-items: unset;
  margin-top: 15px;
}

.Info__Product {
  display: flex;
  align-items: center;
}

.big_cart {
  color: #ffffff;
  border-radius: 25px;
  background: #7e4ff2;
  padding: 15px;
  margin-right: 32px;
}

.uil-truck {
  background: #ffd400;
}

.uil-check-circle {
  background: #ff800b;
}

.uil-transaction {
  background: #7bbb66;
}

.Info__Product {
  margin-bottom: 40px;
}

/* =============================== about us ========================*/
.about__us {
  margin-top: 114px;
}

.about__right {
  margin-left: 126px;
}

.about__us .container .about__left .about__text {
  font-family: Gilroy;
  padding-top: 217px;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  color: #02283f;
  margin-bottom: 60px;
  width: 298px;
}

.about__us .container .about__left .about__description {
  font-family: Sofia Pro;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #5f6672;
  width: 485px;
}

.about__us .container .about__left .about__button {
  font-family: Sofia Pro;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  border: none;
  background: #fdb827;
  border-radius: 30px;
  color: #ffffff;
}

.about__us .container .about__right {
  margin-bottom: 100px;
}

.review-title {
  display: flex;
  justify-content: center;
}

.site-footer {
  margin-top: 155px;
}

.site-footer .container .footer .firt__dv h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 46px;
  display: flex;
  align-items: center;
  color: #243165;
}

.site-footer .container .footer .firt__dv p {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(55, 84, 101, 0.8);
  width: 289px;
}

.site-footer .container .footer .firt__dv .social ul {
  display: flex;
  margin-top: 39px;

}

.site-footer .container .footer .firt__dv .social ul li a {
  margin-right: 22px;
}

.site-footer .container .footer .firt__dv .social ul li a i {
  font-size: 26px;
  color: #545761;
}

.site-footer .container .footer .firt__dv .social ul li a .uil-facebook-f:hover {
  color: #3b5998;
}

.site-footer .container .footer .firt__dv .social ul li a .uil-twitter:hover {
  color: #00AFD7;
}

.site-footer .container .footer .firt__dv .social ul li a .uil-linkedin:hover {
  color: #0e76a8;
}

.site-footer .container .footer .firt__dv .social ul li a .uil-youtube:hover {
  color: #e62117;
}

.site-footer .container .footer .second__dv {
  margin-left: 156px;
}

.site-footer .container .footer .second__dv h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #243165;
}

.site-footer .container .footer .second__dv ul {
  margin-top: 45px;
}

.site-footer .container .footer .second__dv ul li a {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: rgba(55, 84, 101, 0.8);
}

.footer {
  margin-bottom: 106px;
}

.copyright-text {
  font-family: Poppins;
  font-style: normal;
  margin-top: 36px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #375465;
  margin-bottom: 43px;
}