/* Font connecting */
/* =============================================================================================================== */
/* Gilroy-medium */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("./font-face/Gilroy-Medium.woff2") format("woff2"),
    url("./font-face/Gilroy-Medium.woff") format("woff"),
    url("./font-face/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Gilroy-bold */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("./font-face/Gilroy-Bold.woff2") format("woff2"),
    url("./font-face/Gilroy-Bold.woff") format("woff"),
    url("./font-face/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Gilroy-Extrabold */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("./font-face/Gilroy-Extrabold.woff2") format("woff2"),
    url("./font-face/Gilroy-Extrabold.woff") format("woff"),
    url("./font-face/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Sofia+Pro-Regular */
@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaProRegular.eot");
  src: local("Sofia Pro Regular"), local("SofiaProRegular"),
    url("./font-face/SofiaProRegular.eot?#iefix") format("embedded-opentype"),
    url("./font-face/SofiaProRegular.woff2") format("woff2"),
    url("./font-face/SofiaProRegular.woff") format("woff"),
    url("./font-face/SofiaProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Sofia+Pro-Medium */
@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaProMedium.eot");
  src: local("Sofia Pro Medium"), local("SofiaProMedium"),
    url("./font-face/SofiaProMedium.eot?#iefix") format("embedded-opentype"),
    url("./font-face/SofiaProMedium.woff2") format("woff2"),
    url("./font-face/SofiaProMedium.woff") format("woff"),
    url("./font-face/SofiaProMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Gilroy-semibold */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("./font-face/Gilroy-Semibold.woff2") format("woff2"),
    url("./font-face/Gilroy-Semibold.woff") format("woff"),
    url("./font-face/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Gilroy-Regular */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./font-face/Gilroy-Regular.woff2") format("woff2"),
    url("./font-face/Gilroy-Regular.woff") format("woff"),
    url("./font-face/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Popping-SemiBold */
@font-face {
  font-family: "Poppins";
  src: local("Poppins Semi Bold"), local("Poppins-Semi-Bold"),
    url("./font-face/Poppins-SemiBold.woff2") format("woff2"),
    url("./font-face/Poppins-SemiBold.woff") format("woff"),
    url("./font-face/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Popping-regular */
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("./font-face/Poppins-Regular.woff2") format("woff2"),
    url("./font-face/Poppins-Regular.woff") format("woff"),
    url("./font-face/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
